@layer {
  @keyframe bounce {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(20deg);
    }
  }

  body {
    display: flex;
    color: var(--gray-900);
    height: 100svh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 228 230);
  }

  main {
    animation: bounce 1s alternate;

    > h1 {
      filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
        drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    }

    > p {
      font-family: 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
        'DejaVu Sans Mono', monospace;
      text-align: center;
    }
  }
}
