.dialog {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -250px;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__inner {
  text-align: center;
}
