.testimonial {
  font-size: 0.7em;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.testimonial__img {
  border-radius: 25px;
  border: solid 1px #e0716b;
  max-width: 50%;
  box-sizing: border-box;
}

.testimonial__body {
  margin-top: 15px;
  font-style: italic;
}
