.toolbar {
  position: fixed;
  bottom: 0;
  padding: 35px 0 19px;
  width: 100%;
  background: linear-gradient(white, #e0716b);
  color: white;
}

.toolbar__line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.toolbar__link {
  padding: 0px 20px;
  color: white;
}
