.toolbar {
  position: fixed;
  bottom: 19px;
  width: 100%;
}

.toolbar__line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.toolbar__link {
  padding: 0px 20px;
}
